@import '../../assets/scss/utils/vars.scss';

// Main panel ====================================================
.input_and-label-column-w {
    position: relative;
    margin: 10px 0 0 0;
}

.two-inputs-row-w {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &.two-inputs-align-left-row-w {
        justify-content: flex-start;
    }
}

.input-small-w {
    max-width: 150px;
}

.panel {
    padding: 40px 30px 15px;
    max-width: 380px;
    border-radius: 4px;

    background-color: $mainBgColor;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

    // Main heading for panel
    .panel__heading {
        padding-bottom: 10px;
        @extend .main-page-heading;
        user-select: none;
    }
}
// Elements =======================================================
// Standard label and heading for input
.form__label,
.form__heading {
    display: block;
    margin-bottom: 5px;

    @extend .main-bold-font;
    user-select: none;
    white-space: nowrap;
}

// Standard input
.form__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 15px 0 15px;
    height: 44px;
    border: 1px solid $dark25;
    border-radius: 4px;
    @extend .main-font;

    &:focus {
        @extend .a11y;
    }
}

// Input for date
.form__input_date {
    padding: 10px 0 10px 10px;
    text-transform: uppercase;
}

// Expand symbol for input
.form__label_expand::after {
    content: "expand_more";
    position: absolute;
    z-index: 1;
    right: 1px;
    top: 21px;

    display: inline-block;
    width: 44px;
    height: 42px;
    border-radius: 4px;

    @extend .icons-font;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    background-color: $mainBgColor;
    color: $dark50;
}