.a11y {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9969ff;
  z-index: 20; }

.main-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

.main-page-heading {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041; }

.main-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041; }

.inter-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5); }

.inter-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75); }

.inter-light-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5); }

.icons-font {
  font-family: "Material Icons";
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.promo {
  background-color: pink;
  min-height: 830px; }
  .promo .promo-heading {
    max-width: 247;
    text-align: right; }

.a11y {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9969ff;
  z-index: 20; }

.main-font, body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

.main-page-heading {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041; }

.main-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041; }

.inter-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5); }

.inter-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75); }

.inter-light-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5); }

.icons-font {
  font-family: "Material Icons";
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat"), local("Montserrat-Regular"), url("/assets/fonts/montserrat.woff2") format("woff2"), url("/assets/fonts/montserrat.woff") format("woff"), url("/assets/fonts/montserrat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("/assets/fonts/montserratbold.woff2") format("woff2"), url("/assets/fonts/montserratbold.woff") format("woff"), url("/assets/fonts/montserratbold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold; }

@font-face {
  font-family: 'Quicksand';
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("/assets/fonts/quicksandbold.woff2") format("woff2"), url("/assets/fonts/quicksandbold.woff") format("woff"), url("/assets/fonts/quicksandbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Material Icons';
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400; }

.wrapper {
  max-width: 1160px;
  margin: 0 auto; }

html {
  height: 100%; }
  @media screen and (max-width: 1280px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

*,
*:before,
*:after {
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

img {
  max-width: 100%;
  height: auto; }

header {
  outline: 5px dashed rgba(166, 168, 1, 0.5);
  outline-offset: -5px; }

main {
  outline: 5px dashed rgba(0, 153, 255, 0.5);
  outline-offset: -5px; }

footer {
  outline: 5px dashed rgba(255, 0, 234, 0.5);
  outline-offset: -5px; }

section {
  outline: 2px dashed rgba(255, 62, 40, 0.5);
  outline-offset: -15px; }

.wrapper {
  outline: 2px dotted purple;
  outline-offset: -2px; }
  .wrapper::before {
    content: '';
    width: 2px;
    height: 2000px;
    background-color: purple;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, -500px); }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #ffffff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

a {
  text-decoration: none; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

p,
fieldset,
figure {
  margin: 0;
  padding: 0; }

@charset "UTF-8";
.a11y, .button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9969ff;
  z-index: 20; }

.main-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

.main-page-heading {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041; }

.main-bold-font, .button.button_dark, .button.button_light, .button.button_light::before {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041; }

.inter-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5); }

.inter-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75); }

.inter-light-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5); }

.icons-font {
  font-family: "Material Icons";
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.button {
  display: block;
  height: 34px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 34px;
  border-radius: 22px;
  border: none; }
  .button.button_dark {
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #ffffff;
    line-height: 34px; }
  .button.button_light {
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-size: 0;
    padding: 2px; }
    .button.button_light::before {
      content: "Войти";
      display: block;
      width: 83px;
      color: #BC9CFF;
      height: 30px;
      line-height: 30px;
      border-radius: 22px;
      background-color: #ffffff; }
  .button.button_registration {
    width: 196px; }
  .button:hover {
    cursor: pointer;
    background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }
  .button:active {
    box-shadow: none; }

.a11y {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9969ff;
  z-index: 20; }

.main-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

.main-page-heading {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041; }

.main-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041; }

.inter-font, .header .header-navigation {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5); }

.inter-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75); }

.inter-light-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5); }

.icons-font, .header .header-navigation .main-menu__submenu::after {
  font-family: "Material Icons";
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.header {
  padding: 15px 0 0 0;
  min-height: 70px; }
  .header .wrapper-header,
  .header .header-navigation,
  .header .header-menu,
  .header .user-menu {
    display: flex; }
  .header .wrapper-header {
    justify-content: space-between; }
  .header .header-navigation {
    align-items: baseline;
    padding: 3px 0 0 0; }
    .header .header-navigation .main-menu__item {
      padding-right: 20px; }
    .header .header-navigation .main-menu__submenu::after {
      content: "expand_more";
      font-size: 24px; }
    .header .header-navigation .user-menu__registration {
      padding-left: 20px; }


/*# sourceMappingURL=index.8b799ca27c622b33f09f.css.map*/
/*# sourceMappingURL=index.8b799ca27c622b33f09f.css.map*/