.a11y {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9969ff;
  z-index: 20; }

.main-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.main-page-heading {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: #1F2041; }

.main-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041; }

.inter-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.inter-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.inter-light-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.icons-font {
  font-family: "Material Icons";
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.awesome-font {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900; }

.catalog {
  background-color: #ffffff;
  padding: 20px 0 0 0; }
  .catalog .catalog-w {
    display: flex;
    flex-direction: row; }
    .catalog .catalog-w .panel_filters {
      width: 266px;
      margin: 0 60px 0 0;
      padding: 0;
      box-shadow: none; }
    .catalog .catalog-w .catalog-items {
      min-height: 900px;
      flex-grow: 1; }

.a11y {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9969ff;
  z-index: 20; }

.main-font, body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.main-page-heading {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: #1F2041; }

.main-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041; }

.inter-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.inter-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.inter-light-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.icons-font {
  font-family: "Material Icons";
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.awesome-font {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat"), local("Montserrat-Regular"), url("/assets/fonts/montserrat.woff2") format("woff2"), url("/assets/fonts/montserrat.woff") format("woff"), url("/assets/fonts/montserrat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("/assets/fonts/montserratbold.woff2") format("woff2"), url("/assets/fonts/montserratbold.woff") format("woff"), url("/assets/fonts/montserratbold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold; }

@font-face {
  font-family: 'Quicksand';
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("/assets/fonts/quicksandbold.woff2") format("woff2"), url("/assets/fonts/quicksandbold.woff") format("woff"), url("/assets/fonts/quicksandbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Material Icons';
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400; }

.wrapper {
  position: relative;
  max-width: 1160px;
  margin: 0 auto; }

html {
  height: 100%; }
  @media screen and (max-width: 1280px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

*,
*:before,
*:after {
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

img {
  max-width: 100%;
  height: auto; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #ffffff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

a {
  text-decoration: none; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

p,
fieldset,
figure {
  margin: 0;
  padding: 0; }

fieldset {
  border: none; }

header {
  outline: 5px dashed rgba(166, 168, 1, 0.5);
  outline-offset: -5px; }

main {
  outline: 5px dashed rgba(0, 153, 255, 0.5);
  outline-offset: -5px; }

footer {
  outline: 5px dashed rgba(255, 0, 234, 0.5);
  outline-offset: -5px; }

section {
  outline: 2px dashed rgba(255, 62, 40, 0.5);
  outline-offset: -15px; }

.wrapper {
  outline: 2px dotted purple;
  outline-offset: -2px; }
  .wrapper::before {
    content: '';
    width: 2px;
    height: 2000px;
    background-color: purple;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, -500px); }

@charset "UTF-8";
.a11y, .button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9969ff;
  z-index: 20; }

.main-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.main-page-heading {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: #1F2041; }

.main-bold-font, .button.button_dark, .button.button_light, .button.button_light::before, .button.button_form {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041; }

.inter-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.inter-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.inter-light-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.icons-font, .button-arrow .button-arrow__label::after {
  font-family: "Material Icons";
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.awesome-font {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900; }

.button {
  display: block;
  height: 34px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 34px;
  border-radius: 22px;
  border: none; }
  .button.button_dark {
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #ffffff;
    line-height: 34px; }
  .button.button_light {
    padding: 2px;
    width: 87px;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-size: 0; }
    .button.button_light::before {
      display: block;
      color: #BC9CFF;
      border-radius: 22px;
      background-color: #ffffff; }
    .button.button_light.button_light-input::before {
      content: "Войти";
      width: 83px;
      height: 30px;
      line-height: 30px; }
    .button.button_light.button_light-create {
      width: 99px;
      height: 44px; }
      .button.button_light.button_light-create::before {
        content: "Создать";
        width: 95px;
        height: 40px;
        line-height: 40px; }
    .button.button_light.button_light-login {
      width: 99px;
      height: 44px; }
      .button.button_light.button_light-login::before {
        content: "Войти";
        width: 95px;
        height: 40px;
        line-height: 40px; }
  .button.button_registration {
    width: 196px; }
  .button.button_form {
    position: relative;
    height: 44px;
    width: 100%;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #ffffff;
    line-height: 34px; }
  .button:hover {
    cursor: pointer;
    background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }
  .button:active {
    box-shadow: none; }

.button-arrow {
  position: relative; }
  .button-arrow .button-arrow__label::after {
    content: "arrow_forward";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    display: inline-block;
    width: 44px;
    height: 44px;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    color: #ffffff; }
    @supports (-ms-ime-align: auto) {
      .button-arrow .button-arrow__label::after {
        line-height: 52px; } }

@keyframes ArrowMove {
  0% {
    transform: translate(0); }
  100% {
    transform: translate(10px); } }
  .button-arrow .button-arrow__label:hover {
    cursor: pointer; }
  .button-arrow .button-arrow__button:hover + .button-arrow__label::after {
    animation-name: ArrowMove;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }

@charset "UTF-8";
.a11y, .form__input:focus, .panel .form-radio:focus-within, .panel .form-switch:focus-within, .panel .form-check:focus-within, .form-dropdown-input .form-dropdown-two-btn .dropdown-two-btn__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9969ff;
  z-index: 20; }

.main-font, .form__input, .form__input::placeholder, .form-dropdown-input .form-dropdown-btn__label::after, .form-dropdown-input .form-dropdown-list {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.main-page-heading, .panel .panel__heading {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: #1F2041; }

.main-bold-font, .panel .form__label, .panel .form__heading, .panel .double-range .double-range__heading, .panel_filters .form-dropdown-btn__label, .form-dropdown-input .form-number .form-number__label, .form-dropdown-input .form-number .form-number__input, .form-dropdown-input .form-dropdown-two-btn .dropdown-two-btn__button {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041; }

.inter-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.inter-bold-font, .panel .form-check .form-check__label-bold {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.inter-light-font, .panel .form-check .form-check__label-bold .form-check__description, .panel .double-range .double-range__value, .panel .double-range .double-range__description, .form-dropdown-input .form-number .form-number__label::after, .form-dropdown-input .form-number .form-number__label::before {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.icons-font, .panel .form__label.form__label_expand::after, .form-dropdown_checklist .form-dropdown-btn__label::after, .form-dropdown-input .form-dropdown-btn__label::before {
  font-family: "Material Icons";
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.awesome-font {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900; }

.panel {
  max-width: 380px;
  padding: 40px 30px 15px;
  margin-bottom: 315;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2); }
  .panel .input-w {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: baseline; }
    .panel .input-w.input-small-w .form__input {
      max-width: 150px; }
    .panel .input-w.input-large-w {
      margin-bottom: 10px; }
      .panel .input-w.input-large-w .form__input {
        width: 100%; }
  .panel .two-inputs-w {
    display: flex;
    justify-content: space-between;
    width: 320px; }
    .panel .two-inputs-w .input-small-w {
      min-width: 150px; }
  .panel .panel__heading {
    max-width: 300px;
    padding-bottom: 10px;
    user-select: none; }
  .panel .form__label {
    align-self: flex-start;
    display: block;
    margin: 10px 0 5px 0;
    user-select: none; }
    .panel .form__label.form__label_expand::after {
      content: "expand_more";
      position: absolute;
      z-index: 30;
      right: 1px;
      top: 31px;
      display: inline-block;
      width: 48px;
      height: 42px;
      border-radius: 4px;
      font-size: 24px;
      line-height: 44px;
      text-align: center;
      background-color: #ffffff;
      color: rgba(31, 32, 65, 0.5); }
      @supports (-ms-ime-align: auto) {
        .panel .form__label.form__label_expand::after {
          /* Edge */
          line-height: 52px; } }
  .panel .hidden__label {
    color: transparent;
    font-size: 0; }

.form__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 15px 0 15px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px; }
  .form__input::placeholder {
    line-height: 44px; }
  .form__input.form__input_date {
    padding: 10px 0 10px 15px;
    text-transform: uppercase; }

.button-arrow {
  margin-top: 23px; }

.panel_modal {
  position: fixed;
  z-index: 40;
  display: none;
  padding: 40px 30px 20px; }
  .panel_modal:target {
    display: block; }
  .panel_modal .panel__heading {
    padding-bottom: 20px; }
  .panel_modal .two-inputs-w {
    display: flex;
    flex-direction: row; }
  .panel_modal .button-arrow {
    margin: 10px 0 30px 0; }
  .panel_modal .text {
    color: #1F2041; }

.panel_come-in {
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%); }

.panel_sign-up {
  top: 10.5%;
  left: 50%;
  transform: translate(-50%, 0); }

.panel .form__heading {
  align-self: flex-start;
  display: block;
  margin: 10px 0 5px 0;
  user-select: none; }

.panel .form-radio {
  position: relative;
  display: inline-block;
  margin: 0 20px 13px 0;
  height: 20px;
  border-radius: 4px; }
  .panel .form-radio .form-radio__label {
    display: inline-block;
    padding-left: 30px;
    line-height: 20px;
    white-space: nowrap;
    user-select: none; }
    .panel .form-radio .form-radio__label:hover {
      cursor: pointer; }
    .panel .form-radio .form-radio__label::before {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border: 1px solid #BC9CFF;
      border-radius: 50%;
      vertical-align: top; }
  .panel .form-radio .form-radio__input {
    position: absolute;
    left: -10000px;
    width: 0;
    height: 0; }
    .panel .form-radio .form-radio__input:checked + .form-radio__label::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 4px;
      display: inline-block;
      width: 12px;
      height: 12px;
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 50%; }

.panel .form-switch {
  position: relative;
  display: inline-block;
  height: 20px;
  margin-bottom: 15px;
  border-radius: 4px; }
  .panel .form-switch .form-switch__label {
    display: inline-block;
    padding-left: 50px;
    line-height: 20px;
    white-space: nowrap;
    user-select: none; }
    .panel .form-switch .form-switch__label:hover {
      cursor: pointer; }
    .panel .form-switch .form-switch__label::before {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      margin-right: 10px;
      width: 40px;
      height: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 10px;
      vertical-align: top; }
    .panel .form-switch .form-switch__label::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 4px;
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: rgba(31, 32, 65, 0.25);
      border-radius: 50%; }
  .panel .form-switch .form-switch__input {
    position: absolute;
    left: -10000px;
    width: 0;
    height: 0; }
    .panel .form-switch .form-switch__input:checked + .form-switch__label::before {
      border: 1px solid #BC9CFF; }
    .panel .form-switch .form-switch__input:checked + .form-switch__label::after {
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      transform: translate(20px); }

.panel .form-check {
  position: relative;
  display: inline-block;
  margin: 0 20px 10px 0;
  border-radius: 4px; }
  .panel .form-check .form-check__label {
    display: inline-block;
    padding-left: 30px;
    width: 200px;
    line-height: 20px;
    user-select: none; }
    .panel .form-check .form-check__label:hover {
      cursor: pointer; }
    .panel .form-check .form-check__label::before {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border: 1px solid #BC9CFF;
      border-radius: 4px;
      vertical-align: top; }
  .panel .form-check .form-check__input {
    position: absolute;
    left: -10000px;
    width: 0;
    height: 0; }
    .panel .form-check .form-check__input:checked + .form-check__label::after {
      content: "";
      position: absolute;
      left: 6px;
      top: 6px;
      display: inline-block;
      height: 4px;
      width: 6px;
      border: 2px solid #BC9CFF;
      box-sizing: content-box;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg); }
  .panel .form-check .form-check__label-bold {
    width: 100%; }
    .panel .form-check .form-check__label-bold .form-check__description {
      width: 200px; }

.panel .double-range {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 10px 0; }
  .panel .double-range .double-range__heading {
    margin: 22px 0 5px 0;
    white-space: nowrap;
    user-select: none; }
  .panel .double-range .double-range__value {
    white-space: nowrap;
    user-select: none;
    text-transform: uppercase; }
  .panel .double-range .double-range__input {
    height: 6px;
    width: 100%;
    margin: 19px 0 14px 0;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3px; }

.panel_filters .form__heading {
  padding: 20px 0 11px 0; }

.panel_filters .amenities-w {
  margin: 28px 0 71px 0; }

.panel_filters .guests-w {
  margin: 12px 0 52px 0; }

.panel_filters .dates-w {
  margin: 12px 0 68px 0; }

.panel_filters .form-dropdown-btn__label {
  display: block;
  white-space: nowrap;
  user-select: none;
  line-height: 13px; }

.form-dropdown-list {
  position: absolute;
  z-index: -300;
  padding-top: 15px; }

.form-dropdown-btn__input {
  position: absolute;
  left: -10000px;
  width: 0;
  height: 0; }

.form-dropdown_checklist {
  position: relative;
  display: block; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .form-dropdown_checklist {
      position: absolute;
      left: 0; } }
  .form-dropdown_checklist .form-dropdown-btn__label {
    padding: 5px 0; }
    @supports (-ms-ime-align: auto) {
      .form-dropdown_checklist .form-dropdown-btn__label {
        /* Edge fix */
        line-height: 5px; } }
    .form-dropdown_checklist .form-dropdown-btn__label:hover {
      cursor: pointer; }
    .form-dropdown_checklist .form-dropdown-btn__label::after {
      content: "expand_less";
      position: absolute;
      z-index: 1;
      right: 14px;
      top: 0px;
      display: inline-block;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      color: rgba(31, 32, 65, 0.5); }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .form-dropdown_checklist .form-dropdown-btn__label::after {
          right: -60; } }
      @supports (-ms-ime-align: auto) {
        .form-dropdown_checklist .form-dropdown-btn__label::after {
          /* Edge */ } }
  .form-dropdown_checklist .form-dropdown-btn__input:checked + .form-dropdown-btn__label::after {
    content: "expand_more"; }
  .form-dropdown_checklist .form-dropdown-btn__input:checked ~ .form-dropdown-list {
    z-index: 2; }

.form-dropdown-input .form-dropdown-btn__label {
  position: relative;
  margin-bottom: 5px;
  z-index: 10; }
  .form-dropdown-input .form-dropdown-btn__label:hover {
    cursor: pointer; }
  .form-dropdown-input .form-dropdown-btn__label::after {
    content: "";
    position: absolute;
    top: 18px;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    padding: 0 15px 0 15px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    line-height: 44px; }
  .form-dropdown-input .form-dropdown-btn__label::before {
    content: "expand_more";
    position: absolute;
    right: 1px;
    top: 18px;
    display: inline-block;
    width: 48px;
    height: 42px;
    border-radius: 4px;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    color: rgba(31, 32, 65, 0.5); }
    @supports (-ms-ime-align: auto) {
      .form-dropdown-input .form-dropdown-btn__label::before {
        /* Edge */
        line-height: 52px; } }

.form-dropdown-input .form-dropdown-list {
  position: absolute;
  top: 61px;
  display: block;
  width: 100%;
  padding-bottom: 10px;
  padding: 0 17px 0 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 0 0 4px 4px;
  background-color: #ffffff; }

.form-dropdown-input .form-dropdown-btn__input:checked + .form-dropdown-btn__label::before {
  content: "expand_less"; }

.form-dropdown-input .form-dropdown-btn__input:checked + .form-dropdown-btn__label::after {
  border-radius: 4px 4px 0 0; }

.form-dropdown-input .form-dropdown-btn__input:checked ~ .form-dropdown-list {
  z-index: 9; }

.form-dropdown-input .form-number {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5px 0 12px 0; }
  .form-dropdown-input .form-number .form-number__label {
    align-self: flex-start;
    display: inline-block;
    padding: 5px 10px 5px 0;
    user-select: none;
    white-space: nowrap; }
    .form-dropdown-input .form-number .form-number__label:hover {
      cursor: pointer; }
    .form-dropdown-input .form-number .form-number__label::after, .form-dropdown-input .form-number .form-number__label::before {
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 50%;
      background-color: #ffffff;
      font-size: 18px;
      line-height: 26px;
      text-align: center; }
    .form-dropdown-input .form-number .form-number__label::after {
      content: "+";
      top: -1;
      right: -10;
      line-height: 25px; }
    .form-dropdown-input .form-number .form-number__label::before {
      content: "-";
      top: -1;
      right: 51px; }
  .form-dropdown-input .form-number .form-number__input {
    width: 60px;
    text-align: center;
    border: none; }

.form-dropdown-input .form-dropdown-two-btn {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0 0;
  padding: 0 0 6px 0; }
  .form-dropdown-input .form-dropdown-two-btn .dropdown-two-btn__button {
    border: none;
    border-radius: 4px;
    background-color: #ffffff; }
    .form-dropdown-input .form-dropdown-two-btn .dropdown-two-btn__button:hover {
      cursor: pointer; }
    .form-dropdown-input .form-dropdown-two-btn .dropdown-two-btn__button:active {
      box-shadow: none; }
    .form-dropdown-input .form-dropdown-two-btn .dropdown-two-btn__button.dropdown-two-btn__button_gray {
      padding: 5px 20px 10px 15px;
      margin-left: -15px;
      color: rgba(31, 32, 65, 0.5); }
    .form-dropdown-input .form-dropdown-two-btn .dropdown-two-btn__button.dropdown-two-btn__button_color {
      padding: 5px 6px 5px 20px;
      margin-right: -13px;
      color: #BC9CFF; }

.form-dropdown-amenity .form-dropdown-btn__label {
  z-index: 10; }
  .form-dropdown-amenity .form-dropdown-btn__label::after {
    content: "2 спальни, 2 кровати..."; }
  .form-dropdown-amenity .form-dropdown-btn__label::before {
    z-index: 30; }

.form-dropdown-guests .form-dropdown-btn__label {
  z-index: 10; }
  .form-dropdown-guests .form-dropdown-btn__label::after {
    content: "3 гостя, 1 младенец"; }
  .form-dropdown-guests .form-dropdown-btn__label::before {
    z-index: 30; }

.form-dropdown-dates .form-dropdown-btn__label {
  z-index: 10; }
  .form-dropdown-dates .form-dropdown-btn__label::after {
    content: "19 авг - 23 авг"; }
  .form-dropdown-dates .form-dropdown-btn__label::before {
    z-index: 300; }

.a11y, .header .logotype .logotype-link:focus, .header .header-navigation .main-menu__item .main-menu__item-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9969ff;
  z-index: 20; }

.main-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.main-page-heading {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: #1F2041; }

.main-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041; }

.inter-font, .header .header-navigation, .header .header-navigation .main-menu__item .main-menu__item-link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.inter-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.inter-light-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.icons-font, .header .header-navigation .main-menu__item .main-menu__item-link.main-menu__submenu::after {
  font-family: "Material Icons";
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.awesome-font {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900; }

.__interactive-link {
  position: relative;
  z-index: 20;
  display: inline-block; }
  .__interactive-link:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background: #BC9CFF;
    bottom: 0;
    left: auto;
    right: 0;
    z-index: -1;
    transition: all 300ms ease; }
  .__interactive-link:hover {
    color: #BC9CFF; }
    .__interactive-link:hover:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background: #BC9CFF;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1; }

.header {
  position: relative;
  padding: 15px 0 0 0;
  min-height: 70px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  background-color: #ffffff; }
  .header .wrapper-header,
  .header .header-navigation,
  .header .header-menu,
  .header .user-menu {
    display: flex; }
  .header .wrapper-header {
    justify-content: space-between; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .header .wrapper-header {
        justify-content: flex-end; } }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .header .logotype {
      position: absolute;
      left: 0; } }
  .header .logotype .logotype-link {
    display: block;
    border-radius: 22px; }
    .header .logotype .logotype-link:active {
      box-shadow: none; }
  .header .header-navigation {
    align-items: baseline;
    padding: 3px 0 0 0; }
    .header .header-navigation .header-menu {
      position: relative; }
    .header .header-navigation .main-menu__item {
      padding-right: 10px; }
      .header .header-navigation .main-menu__item .main-menu__item-link {
        padding: 3px 5px;
        border-radius: 22px; }
        .header .header-navigation .main-menu__item .main-menu__item-link:hover {
          color: #BC9CFF; }
        .header .header-navigation .main-menu__item .main-menu__item-link:active {
          box-shadow: none; }
        @supports (-ms-ime-align: auto) {
          .header .header-navigation .main-menu__item .main-menu__item-link.main-menu__submenu {
            /* Edge fix */
            padding-right: 30px; } }
        .header .header-navigation .main-menu__item .main-menu__item-link.main-menu__submenu::after {
          content: "expand_more";
          font-size: 24px; }
          @supports (-ms-ime-align: auto) {
            .header .header-navigation .main-menu__item .main-menu__item-link.main-menu__submenu::after {
              /* Edge */
              position: absolute;
              top: 75%; } }
    .header .header-navigation .main-menu__item:hover .header-submenu {
      z-index: 0; }
    .header .header-navigation .main-menu__item:focus-within .header-submenu {
      z-index: 0; }
    .header .header-navigation .header-submenu {
      position: absolute;
      z-index: -100;
      border-radius: 4px;
      margin: -5px 0 0 10px;
      padding: 10px 5px;
      border-top: 15px solid #ffffff;
      background-color: #f8f5ff;
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }
      .header .header-navigation .header-submenu .header-submenu__item .main-menu__item-link {
        white-space: nowrap;
        display: inline-block;
        padding: 5px 25px; }
    .header .header-navigation .user-menu__input {
      z-index: 2; }
    .header .header-navigation .user-menu__registration {
      padding-left: 20px; }

.a11y, .footer .main-footer-w .footer-navigation .footer-menu .footer-menu__item-link:focus, .footer .second-footer-w .social .social__item:focus::after {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9969ff;
  z-index: 20; }

.main-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.main-page-heading {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: #1F2041; }

.main-bold-font, .footer .main-footer-w .footer-navigation .footer-menu .footer-menu__heading, .footer .main-footer-w .subscribe .subscribe__heading {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041; }

.inter-font, .footer .main-footer-w .footer-navigation .footer-menu .footer-menu__item-link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.inter-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }

.inter-light-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.5); }

.icons-font, .footer .main-footer-w .subscribe .inner-btn .arrow-w .inner-btn__label::after {
  font-family: "Material Icons";
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.awesome-font, .footer .second-footer-w .social .social__item::after {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900; }

.__interactive-link {
  position: relative;
  z-index: 20;
  display: inline-block; }
  .__interactive-link:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background: #BC9CFF;
    bottom: 0;
    left: auto;
    right: 0;
    z-index: -1;
    transition: all 300ms ease; }
  .__interactive-link:hover {
    color: #BC9CFF; }
    .__interactive-link:hover:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background: #BC9CFF;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1; }

.footer {
  padding-top: 104px;
  position: relative;
  z-index: 1;
  background-color: #ffffff; }
  .footer .main-footer {
    border-bottom: 1px solid #d2d2d5; }
  .footer .main-footer-w {
    margin-bottom: 83px;
    display: flex;
    justify-content: space-between; }
    .footer .main-footer-w .logo-w {
      display: flex;
      flex-direction: column;
      margin-top: -5px; }
      .footer .main-footer-w .logo-w .footer-message {
        width: 250px; }
      .footer .main-footer-w .logo-w .logotype {
        margin-bottom: 20px; }
    .footer .main-footer-w .footer-navigation {
      flex-grow: 1;
      margin: 0 70px 0 50px; }
      .footer .main-footer-w .footer-navigation .footer-menu {
        display: flex;
        justify-content: space-between; }
        .footer .main-footer-w .footer-navigation .footer-menu .footer-menu__item {
          padding-bottom: 10px; }
          .footer .main-footer-w .footer-navigation .footer-menu .footer-menu__item .footer-menu__item-submenu {
            padding-top: 15px; }
        .footer .main-footer-w .footer-navigation .footer-menu .footer-menu__heading {
          display: flex;
          flex-direction: column; }
        .footer .main-footer-w .footer-navigation .footer-menu .footer-menu__item-link {
          display: inline-block;
          padding: 7px 0 3px 0;
          border-radius: 4px; }
          .footer .main-footer-w .footer-navigation .footer-menu .footer-menu__item-link:hover {
            color: #BC9CFF; }
    .footer .main-footer-w .subscribe {
      width: 260px; }
      .footer .main-footer-w .subscribe .subscribe__heading {
        display: block;
        padding-bottom: 20px; }
      .footer .main-footer-w .subscribe .subscribe__message {
        width: 250px;
        padding-bottom: 20px; }
      .footer .main-footer-w .subscribe .hidden__label {
        color: transparent;
        font-size: 0; }
      .footer .main-footer-w .subscribe .inner-btn {
        position: relative; }
        .footer .main-footer-w .subscribe .inner-btn .inner-btn__input {
          width: 100%;
          padding: 0 59px 0 15px; }
          .footer .main-footer-w .subscribe .inner-btn .inner-btn__input::placeholder {
            color: rgba(31, 32, 65, 0.25);
            line-height: 44px; }
        .footer .main-footer-w .subscribe .inner-btn .arrow-w {
          position: absolute;
          right: 0;
          top: 0; }
          .footer .main-footer-w .subscribe .inner-btn .arrow-w .inner-btn__button {
            width: 0;
            height: 0;
            font-size: 0; }
            .footer .main-footer-w .subscribe .inner-btn .arrow-w .inner-btn__button:hover {
              box-shadow: none; }
          .footer .main-footer-w .subscribe .inner-btn .arrow-w .inner-btn__label {
            display: inline-block;
            width: 44px;
            height: 44px; }
            .footer .main-footer-w .subscribe .inner-btn .arrow-w .inner-btn__label::after {
              content: "arrow_forward";
              display: inline-block;
              width: 44px;
              height: 44px;
              font-size: 24px;
              line-height: 44px;
              text-align: center;
              color: transparent;
              -webkit-background-clip: text;
              background-clip: text;
              background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
              background-image: -ms-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
              background-image: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
              background-image: -o-linear-gradient(top, #BC9CFF 0%, #8BA4F9 100%); }
              @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                .footer .main-footer-w .subscribe .inner-btn .arrow-w .inner-btn__label::after {
                  /* IE10+  */
                  color: #BC9CFF;
                  background: transparent; } }
              @supports (-ms-ime-align: auto) {
                .footer .main-footer-w .subscribe .inner-btn .arrow-w .inner-btn__label::after {
                  /* Edge */
                  line-height: 52px; } }

@keyframes ArrowMove {
  0% {
    transform: translate(0); }
  100% {
    transform: translate(10px); } }
            .footer .main-footer-w .subscribe .inner-btn .arrow-w .inner-btn__label:hover {
              cursor: pointer; }
              .footer .main-footer-w .subscribe .inner-btn .arrow-w .inner-btn__label:hover::after {
                color: rgba(31, 32, 65, 0.5);
                animation-name: ArrowMove;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite; }
  .footer .second-footer-w {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .footer .second-footer-w {
        justify-content: flex-start; } }
    .footer .second-footer-w .social {
      display: flex; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .footer .second-footer-w .social {
          position: absolute;
          right: 0; } }
      .footer .second-footer-w .social .social__item {
        margin-left: 20px;
        font-size: 0;
        outline: none; }
        .footer .second-footer-w .social .social__item::after {
          content: "";
          display: inline-block;
          width: 24px;
          height: 24px;
          border-radius: 4px;
          font-size: 24px;
          line-height: 25px;
          text-align: center;
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
          background-image: -ms-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
          background-image: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
          background-image: -o-linear-gradient(top, #BC9CFF 0%, #8BA4F9 100%); }
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            .footer .second-footer-w .social .social__item::after {
              /* IE10+ CSS styles go here */
              color: #BC9CFF;
              background: transparent; } }
        .footer .second-footer-w .social .social__item:hover::after {
          color: rgba(31, 32, 65, 0.5); }
        .footer .second-footer-w .social .social__item.social__item_twitter::after {
          content: "\f099"; }
        .footer .second-footer-w .social .social__item.social__item_facebook::after {
          content: "\f082"; }
        .footer .second-footer-w .social .social__item.social__item_instagram::after {
          content: "\f16d"; }


/*# sourceMappingURL=catalog.f897073cc7dde9b8e0de.css.map*/
/*# sourceMappingURL=catalog.f897073cc7dde9b8e0de.css.map*/