@import '../../assets/scss/utils/vars.scss';

.button {
    display: block;
    height: 34px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 34px;
    border-radius: 22px;
    border: none;

    &.button_dark {
        background-image: linear-gradient(180deg, $mainColor 0%, $mainGradientColor 100%);
        @extend .main-bold-font;
        color: $mainBgColor;
        line-height: 34px;
    }

    &.button_light {
        padding: 2px;
        width: 87px;
        background-image: linear-gradient(180deg, $mainColor 0%, $mainGradientColor 100%);
        @extend .main-bold-font;
        font-size: 0;

        &::before {
            display: block;
            @extend .main-bold-font;
            color: $mainColor;
            border-radius: 22px;
            background-color: $mainBgColor;
        }

        &.button_light-input::before {
            content: "Войти";
            width: 83px;
            height: 30px;
            line-height: 30px;
        }

        &.button_light-create {
            width: 99px;
            height: 44px;

            &::before {
                content: "Создать";
                width: 95px;
                height: 40px;
                line-height: 40px;
            }
        }

        &.button_light-login {
            width: 99px;
            height: 44px;

            &::before {
                content: "Войти";
                width: 95px;
                height: 40px;
                line-height: 40px;
            }
        }


    }

    &.button_registration {
        width: 196px;
    }

    &.button_form {
        position: relative;
        height: 44px;
        width: 100%;
        background-image: linear-gradient(180deg, $mainColor 0%, $mainGradientColor 100%);
        @extend .main-bold-font;
        color: $mainBgColor;
        line-height: 34px;
    }

    &:hover {
        cursor: pointer;
        background-image: linear-gradient(180deg, transparentize($mainColor, 0.5) 0%, transparentize($mainGradientColor, 0.5) 100%);
    }

    &:focus {
        @extend .a11y;
    }

    &:active {
        box-shadow: none;
    }
}

.button-arrow {
    position: relative;

    .button-arrow__label {

        &::after {
            content: "arrow_forward";
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            display: inline-block;
            width: 44px;
            height: 44px;
            @extend .icons-font;
            font-size: 24px;
            line-height: 44px;
            text-align: center;
            color: $mainBgColor;

            @supports (-ms-ime-align: auto) {
                line-height: 52px;
            }
        }

        @keyframes ArrowMove {
            0% {
                transform: translate(0);
            }

            100% {
                transform: translate(10px);
            }
        }

        &:hover {
            cursor: pointer;

        }


    }

    .button-arrow__button {

        &:hover+.button-arrow__label::after {
            animation-name: ArrowMove;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
    }
}