@import '../../assets/scss/utils/vars.scss';

.catalog {
    background-color: $mainBgColor;
    padding: 20px 0 0 0;

    .catalog-w {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .panel_filters {
            width: 266px;
            
            box-shadow: none;
        }

        .catalog-items {
            width: 835px;


        }
    }

    .form-dropdown_dates {
        .form-dropdown-btn__label {
            &::before {
                content: "19 авг - 23 авг";
            }
        }

        .form-dropdown-btn__input {
            &:checked~.form-dropdown-list {
                z-index: 4;
            }
        }
    }

    .form-dropdown_guests {
        .form-dropdown-btn__label {
            &::before {
                content: "3 гостя, 1 младенец";
            }
        }

        .form-dropdown-btn__input {
            &:checked~.form-dropdown-list {
                z-index: 3;
            }
        }
    }

    .form-dropdown_amenity {
        .form-dropdown-btn__label {
            &::before {
                content: "2 спальни, 2 кровати...";
            }
        }

        .form-dropdown-btn__input {
            &:checked~.form-dropdown-list {
                z-index: 2;
            }
        }
    }

    .form-dropdown_add-amenity {
        .form-dropdown-btn__input {
            &:checked~.form-dropdown-list {
                z-index: 1;
            }
        }
    }
}