extends ../../templates/base.jade
block title
    | Catalog
block body
    include ../../components/header/header.jade

    main.catalog
        .wrapper.catalog-w
            h1.visually-hidden Каталог номеров
            section.panel.panel_filters
                form.form(method="post" action="https://echo.htmlacademy.ru")
                    fieldset.form-dropdown.form-dropdown_input.form-dropdown_dates.dates-w
                        legend.visually-hidden Даты пребывания в отеле
                        input.form-dropdown-btn__input.form-input_hide(type="checkbox" id="datesOfSta" aria-hidden="true")
                        label.form-dropdown-btn__label.form__label(for="datesOfSta" aria-hidden="true") Даты пребывания в отеле
                        .form-dropdown-list
                            .input-w.input-small-w
                                label.form__label(for="arrivalDate") Прибытие
                                input.form__input.form__input_date(type="date" name="arrivalDate" id="arrivalDate" placeholder="ДД.ММ.ГГГГ" required="required")
                            .input-w.input-small-w
                                label.form__label(for="departureDate") Выезд
                                input.form__input.form__input_date(type="date" name="departureDate" id="departureDate" placeholder="ДД.ММ.ГГГГ" required="required")
                            .two-inputs-row-w.dropdown-bottom-btn-w
                                input.dropdown-bottom-btn.dropdown-bottom-btn_gray(type="button" value="Очистить")
                                input.dropdown-bottom-btn.dropdown-bottom-btn_color(type="button" value="Применить")

                    fieldset.form-dropdown.form-dropdown_input.form-dropdown_guests.guests-w
                        legend.visually-hidden Гости
                        input.form-dropdown-btn__input.form-input_hide(type="checkbox" id="qtyPeople" aria-hidden="true")
                        label.form-dropdown-btn__label.form__label(for="qtyPeople" aria-hidden="true") Гости
                        .form-dropdown-list
                            .form-number
                                label.form__label.form-number__label(for="qtyAdult") Взрослые
                                input.form-number__input(type="number" value="1" min="0" max="10" step="1" name="qtyAdult" id="qtyAdult")
                            .form-number
                                label.form__label.form-number__label(for="qtyChildren") Дети
                                input.form-number__input(type="number" value="0" min="0" max="10" step="1" name="qtyChildren" id="qtyChildren")
                            .form-number
                                label.form__label.form-number__label(for="qtyBaby") Младенцы
                                input.form-number__input(type="number" value="0" min="0" max="10" step="1" name="qtyBaby" id="qtyBaby")
                            .two-inputs-row-w.dropdown-bottom-btn-w
                                input.dropdown-bottom-btn.dropdown-bottom-btn_gray(type="button" value="Очистить")
                                input.dropdown-bottom-btn.dropdown-bottom-btn_color(type="button" value="Применить")

                    fieldset.form-double-range.double-range-w
                        .two-inputs-row-w
                            legend.form__heading.double-range__heading Диапазон цены
                            p.double-range__value
                                |#[span.min-price 5 000]₽
                                | -
                                | 
                                |#[span.max-price 10 000]₽
                        .double-range__input.two-inputs-row-w.double-range__input-w
                            .form-range.form-range_min
                                label.visually-hidden(for="minRange") Минимальная цена за номер
                                input.form-range__input.form-range__input_min(type="range" value="5000" min="0" max="30000" step="1000" id="minRange")
                            .form-range.form-range_max
                                label.visually-hidden(for="maxRange") Максимальная цена за номер
                                input.form-range__input.form-range__input_max(type="range" value="10000" min="0" max="30000" step="1000" id="maxRange")
                        p.double-range__description Стоимость за сутки пребывания в номере

                    fieldset.add-options-w
                        legend.form__heading Дополнительные опции
                        .form-check
                            input.form-check__input.form-input_hide(type="checkbox" name="allowed" id="smoking" value="smoking")
                            label.form-check__label(for="smoking") Можно курить
                        .form-check
                            input.form-check__input.form-input_hide(type="checkbox" name="allowed" id="pet" value="pet" checked)
                            label.form-check__label(for="pet") Можно с питомцами
                        .form-check
                            input.form-check__input.form-input_hide(type="checkbox" name="allowed" id="friends" value="tenFriends" checked)
                            label.form-check__label(for="friends") #[span.line-wrap-on Можно пригласить гостей (до 10 человек)]

                    fieldset.accessibility-w
                        legend.form__heading Доступность
                        .form-check
                            input.form-check__input.form-input_hide(type="checkbox" name="accessibility" id="wideHall" value="wideHall")
                            label.form-check__label.form-check__label-bold(for="wideHall") 
                                | Широкий коридор
                                | #[span.form-check__description Ширина коридоров в номере не менее 91 см.]
                        .form-check
                            input.form-check__input.form-input_hide(type="checkbox" name="accessibility" id="assistantForInvalid" value="assistantForInvalid")
                            label.form-check__label.form-check__label-bold(for="assistantForInvalid") 
                                | Помощник для инвалидов
                                | #[span.form-check__description На 1 этаже вас встретит специалист и проводит до номера.]
                    fieldset.form-dropdown.form-dropdown_input.form-dropdown_amenity.amenity-w
                        legend.visually-hidden Удобства номера
                        input.form-dropdown-btn__input.form-input_hide(type="checkbox" id="roomAmenity" aria-hidden="true")
                        label.form-dropdown-btn__label.form__label(for="roomAmenity" aria-hidden="true") Удобства номера
                        .form-dropdown-list
                            .form-number
                                label.form__label.form-number__label(for="qtyBedroom") Спальни
                                input.form-number__input(type="number" value="2" min="1" max="10" step="1" name="qtyBedroom" id="qtyBedroom")
                            .form-number
                                label.form__label.form-number__label(for="qtyBed") Кровати
                                input.form-number__input(type="number" value="2" min="1" max="10" step="1" name="qtyBed" id="qtyBed")
                            .form-number
                                label.form__label.form-number__label(for="qtyBathroom") Ванные комнаты
                                input.form-number__input(type="number" value="0" min="0" max="10" step="1" name="qtyBathroom" id="qtyBathroom")


                    fieldset.form-dropdown.form-dropdown_checklist.form-dropdown_add-amenity.form-dropdown_checklist-w
                        legend.visually-hidden Дополнительные удобства
                        input.form-dropdown-btn__input.form-input_hide(type="checkbox" id="addAmenity" aria-hidden="true")
                        label.form-dropdown-btn__label.form__label(for="addAmenity" aria-hidden="true") Дополнительные удобства
                        .form-dropdown-list
                            .form-check
                                input.form-check__input.form-input_hide(type="checkbox" name="addAmenity" id="breakfast" value="breakfast")
                                label.form-check__label(for="breakfast") Завтрак
                            .form-check
                                input.form-check__input.form-input_hide(type="checkbox" name="addAmenity" id="writingTable" value="writingTable")
                                label.form-check__label(for="writingTable") Письменный стол
                            .form-check
                                input.form-check__input.form-input_hide(type="checkbox" name="addAmenity" id="feedingChair" value="feedingChair")
                                label.form-check__label(for="feedingChair") Стул для кормления
                            .form-check
                                input.form-check__input.form-input_hide(type="checkbox" name="addAmenity" id="babyBed" value="babyBed")
                                label.form-check__label(for="babyBed") Кроватка
                            .form-check
                                input.form-check__input.form-input_hide(type="checkbox" name="addAmenity" id="TV" value="TV")
                                label.form-check__label(for="TV") Телевизор
                            .form-check
                                input.form-check__input.form-input_hide(type="checkbox" name="addAmenity" id="shampoo" value="shampoo")
                                label.form-check__label(for="shampoo") Шампунь
                    input.button.button_form.button_kek(type="submit" value="Тест формы")
                    style.
                        .button_kek {
                            position: absolute;
                            top: -775px;
                            left: 20px;
                            background-color: red;
                            outline: 2px solid red;
                        }


            section.catalog-items
                h2.catalog-items__heading.
                    Номера, которые мы для вас подобрали
                .catalog-items-w
                    include ../../components/catalog-items/item/item.jade

                    +item( { 
                        roomNum     : "888",
                        imgPath     : require("../../assets/img/rooms/room-888.jpg"),
                        roomLuxe    : "люкс",
                        roomPrice   : "9 990",
                        qtyStars    : "5",
                        qtyFeedback : "145"
                        } )

                    +item( { 
                        roomNum     : "840",
                        imgPath     : require("../../assets/img/rooms/room-840.jpg"),
                        roomLuxe    : "",
                        roomPrice   : "9 900",
                        qtyStars    : "4",
                        qtyFeedback : "65"
                        } )

                    +item( { 
                        roomNum     : "980",
                        imgPath     : require("../../assets/img/rooms/room-980.jpg"),
                        roomLuxe    : "люкс",
                        roomPrice   : "8 500",
                        qtyStars    : "3",
                        qtyFeedback : "35"
                        } )

                    +item( { 
                        roomNum     : "856",
                        imgPath     : require("../../assets/img/rooms/room-856.jpg"),
                        roomLuxe    : "",
                        roomPrice   : "7 300",
                        qtyStars    : "5",
                        qtyFeedback : "19"
                        } )

                    +item( { 
                        roomNum     : "740",
                        imgPath     : require("../../assets/img/rooms/room-740.jpg"),
                        roomLuxe    : "",
                        roomPrice   : "6 000",
                        qtyStars    : "4",
                        qtyFeedback : "44"
                        } )

                    +item( { 
                        roomNum     : "982",
                        imgPath     : require("../../assets/img/rooms/room-982.jpg"),
                        roomLuxe    : "",
                        roomPrice   : "8 500",
                        qtyStars    : "3",
                        qtyFeedback : "56"
                        } )

                    +item( { 
                        roomNum     : "678",
                        imgPath     : require("../../assets/img/rooms/room-678.jpg"),
                        roomLuxe    : "",
                        roomPrice   : "5 500",
                        qtyStars    : "5",
                        qtyFeedback : "45"
                        } )

                    +item( { 
                        roomNum     : "450",
                        imgPath     : require("../../assets/img/rooms/room-450.jpg"),
                        roomLuxe    : "",
                        roomPrice   : "5 300",
                        qtyStars    : "4",
                        qtyFeedback : "39"
                        } )

                    +item( { 
                        roomNum     : "350",
                        imgPath     : require("../../assets/img/rooms/room-350.jpg"),
                        roomLuxe    : "",
                        roomPrice   : "5 000",
                        qtyStars    : "3",
                        qtyFeedback : "77"
                        } )

                    +item( { 
                        roomNum     : "666",
                        imgPath     : require("../../assets/img/rooms/room-666.jpg"),
                        roomLuxe    : "",
                        roomPrice   : "5 000",
                        qtyStars    : "5",
                        qtyFeedback : "25"
                        } )

                    +item( { 
                        roomNum     : "444",
                        imgPath     : require("../../assets/img/rooms/room-444.jpg"),
                        roomLuxe    : "",
                        roomPrice   : "5 000",
                        qtyStars    : "3",
                        qtyFeedback : "15"
                        } )

                    +item( { 
                        roomNum     : "352",
                        imgPath     : require("../../assets/img/rooms/room-352.jpg"),
                        roomLuxe    : "люкс",
                        roomPrice   : "5 000",
                        qtyStars    : "3",
                        qtyFeedback : "55"
                        } )

                nav.pagination-nav
                    ul.pagination
                        li.pagination__item
                            a.pagination__item-link.pagination__item-link_first(href="#") 1
                        li.pagination__item 
                            a.pagination__item-link(href="#") 2
                        li.pagination__item 
                            a.pagination__item-link(href="#") 3
                        li.pagination__item ...
                        li.pagination__item 
                            a.pagination__item-link(href="#") 15
                        li.pagination__item 
                            a.pagination__item-link.pagination__item-link_last(href="#") #[span.visually-hidden Next]
                    p.pagination-nav__description.
                        1 – 12 из 100+ вариантов аренды


    include ../../components/footer/footer.jade
