extends ../../templates/base.jade
block title
    | Home
block body
    include ../../components/header/header.jade
    main.promo.promo_bg-image
        .wrapper
            h1.visually-hidden Сервис бронирования номеров в отелях
            p.promo-heading Лучшие номера для вашей работы, отдыха и просто вдохновения
            article.panel
                fieldset
                    legend.panel__heading Найдём номера под ваши пожелания
                    form.form(method="post" action="https://echo.htmlacademy.ru")
                        .two-inputs-w
                            .input-w.input-small-w
                                label.form__label.form__label_date(for="arrivalDate") Прибытие
                                input.form__input.form__input_date(type="date" name="arrivalDate" id="arrivalDate" placeholder="ДД.ММ.ГГГГ" required="required")
                            .input-w.input-small-w
                                label.form__label.form__label_date(for="departureDate") Выезд
                                input.form__input.form__input_date(type="date" name="departureDate" id="departureDate" placeholder="ДД.ММ.ГГГГ" required="required")
                        .input-w.input-large-w
                            label.form__label.form__label_date(for="numOfResidents") Гости
                            input.form__input(type="email" name="numOfResidents" id="numOfResidents" placeholder="Сколько гостей" required="required")
                        .button-arrow
                            input.button.button_form.button-arrow__button(type="submit" id="roomBtn" value="Подобрать номер")
                            label.button-arrow__label(for="roomBtn")
    include ../../components/footer/footer.jade
    article(id="signIn").panel.panel_modal.panel_come-in
        fieldset
            legend.panel__heading Войти
            form.form(method="post" action="https://echo.htmlacademy.ru")
                label.visually-hidden(for="login") Введите почту в качестве логина:
                input.form__input(type="email" name="loginEmail" id="login" placeholder="Email" required="required")
                label.visually-hidden(for="password") Введите пароль:
                input.form__input(type="password" name="loginPassword" id="password" placeholder="Пароль" required="required")
                .button-arrow
                    input.button.button_form.button-arrow__button(type="submit" id="comeIn" value="Войти")
                    label.button-arrow__label(for="comeIn")
                .input-w.two-inputs-w
                    p.text Нет аккаунта на Toxin?
                    a(href="#signUp").button.button_light.button_light-create Создать
    article(id="signUp").panel.panel_modal.panel_sign-up
        fieldset
            legend.panel__heading Регистрация аккаунта
            form.form(method="post" action="https://echo.htmlacademy.ru")
                label.visually-hidden(for="login") Введите имя:
                input.form__input(type="text" name="firstName" id="login" placeholder="Имя" required="required")
                label.visually-hidden(for="password") Введите фамилию:
                input.form__input(type=text name="lastName" id="password" placeholder="Фамилия" required="required")
                .form-radio
                    input.form-radio__input(type="radio" name="gender" value="man" id="man" required="required")
                    label.form-radio__label(for="man") Мужчина
                .form-radio
                    input.form-radio__input(type="radio" name="gender" value="woman" id="woman" required="required")
                    label.form-radio__label(for="woman") Женщина
                label.form__label(for="birthday") Дата рождения
                input.form__input.form__input_date(type="date" name="birthday" id="birthday" placeholder="ДД.ММ.ГГГГ" required="required")
                p.form__heading Данные для входа в сервис
                label.visually-hidden.hidden__label(for="loginSignUp") Введите почту в качестве логина:
                input.form__input(type="email" name="registrationEmail" id="loginSignUp" placeholder="Email" required="required")
                label.visually-hidden.hidden__label(for="passwordSignUp") Введите пароль:
                input.form__input(type="password" name="registrationPassword" id="passwordSignUp" placeholder="Пароль" required="required")
                .form-check 
                    input.form-check__input(type="checkbox" name="iWantALotOfSpam" id="getSpam")
                    label.form-check__label(for="getSpam") Получать спецпредложения
                .button-arrow
                    input.button.button_form.button-arrow__button(type="submit" id="goPay" value="Перейти к оплате")
                    label.button-arrow__label(for="goPay")
                .input-w.two-inputs-w
                    p.text Уже есть аккаунт на Toxin
                    a(href="#signIn").button.button_light.button_light-login Войти