@import '../../assets/scss/utils/vars.scss';

.promo {
    padding-top: 70px;
    min-height: 830px;

    &.promo_bg-image {
        background: url('./promo-image-1.jpg') center (bottom/cover) no-repeat;
    }


    & .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }



    .promo-heading {
        align-self: flex-end;
        bottom: 0;
        right: 0;
        max-width: 247;
        text-align: right;
    }

}