extends ../../templates/base.jade
block title
    | Home
block body
    header.header
        .wrapper
            div.logotype
                img(src="assets/img/logo.svg" alt="Логотип")
                p.visually-hidden TOXIN
            nav.header-navigation
                ul.header-menu
                    li.main-menu__item О нас
                    li.main-menu__item Услуги
                    li.main-menu__item Вакансии
                    li.main-menu__item Новости
                    li.main-menu__item Соглашения
                ul.user-menu
                    li.user-menu__input
                        a(href="#").button.button__login Войти
                    li.user-menu__registration
                        a(href="#").button.button__login Зарегистрироваться
    main.promo
        .wrapper
            h1.visually-hidden Сервис бронирования номеров в отелях
            p.promo-heading Лучшие номера для вашей работы, отдыха и просто вдохновения
                article.find-room
                    fieldset
                        legend.find-room__heading Найдём номера под ваши пожелания
                        form.form.find-room(method="post" action="https://echo.htmlacademy.ru")
                            label.form__label(for="arrivalDate") Прибытие
                            input.form__input(type="date" name="arrivalDate" id="arrivalDate" required="required")
                            label.form__label(for="departureDate") Выезд
                            input.form__input(type="date" name="departureDate" id="departureDate" required="required")
                            label.form__label(for="numOfResidents") Гости
                            input.form__input(type="text" name="numOfResidents" id="numOfResidents" placeholder="Сколько гостей" required="required")
                            input.button.button_form(type="submit" value="Подобрать номер")
    footer.footer
        section.main-footer
            .wrapper
                div.logotype
                    img(src="assets/img/logo.svg" alt="Логотип")
                    p.visually-hidden TOXIN
                p.footer-message Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                table(border="1" cellpadding="5" ).footer-menu
                    caption.visually-hidden Навигация по сайту
                    thead
                        tr
                            th Навигация
                            th О нас
                            th Служба поддержки
                    tr
                        td О нас
                        td О сервисе
                        td Соглашения
                    tr
                        td Новости
                        td Наша команда
                        td Сообщество
                    tr
                        td Служба поддержки
                        td Вакансии
                        td Связь с нами
                    tr
                        td Услуги
                        td Инвесторы
                div.subscribe
                    p.subscribe__message.
                        Получайте специальные предложения и новости сервиса
                    form.form(method="post" action="https://echo.htmlacademy.ru")
                        label.visually-hidden(for="inputEmail") Введите почту для подписки:
                        input.form__input(type="text" name="name" id="inputEmail" placeholder="Email" required="required")
                        input.button.button_inner-input(type="submit" value="Подписаться")
        section.second-footer
            .wrapper
                p.copyright Copyright © 2018 Toxin отель. Все права заXищены.
                p.visually-hidden Наши соцсети:
                ul.social
                    li.social__twitter
                        a(href="#") Twitter
                    li.social__facebook
                        a(href="#") Facebook
                    li.social__instagram
                        a(href="#") Instagram