@import '../../assets/scss/utils/vars.scss';

.promo {
    padding-top: 70px;
    min-height: 830px;

    &.promo_bg-image {
        background: url('./promo-image-1.jpg') center (bottom/cover) no-repeat;
    }


    & .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }



    .promo-heading {
        align-self: flex-end;
        bottom: 0;
        right: 0;
        max-width: 247;
        text-align: right;
    }

    .find-room {
        max-width: 380px;
        padding: 40px 30px 20px;
        margin-bottom: 315;
        background-color: $mainBgColor;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

        .find-room__heading {
            max-width: 300px;
            padding-bottom: 20px;
            @extend .main-page-heading;
        }


        .input-w {
            position: relative;
            display: flex;
            flex-direction: column;

            &.input-date-w {
                max-width: 150px;
            }

            &.input-guests-w {
                margin-bottom: 10px;
            }
        }

        .date-w {
            display: flex;
            justify-content: space-between;

            .input-date-w {
                min-width: 150px;

                .form__input {
                    padding: 10px 0 10px 15px;
                    text-transform: uppercase;
                }
            }
        }

        .form__input {
            position: relative;
            z-index: 1;
            &::placeholder {
                line-height: 44px;
            }
        }

        .form__label {
            &::after {
                content: "expand_more";
                position: absolute;
                z-index: 2;
                right: 1px;
                top: 21px;
                display: inline-block;
                width: 48px;
                height: 42px;
                border-radius: 4px;
                @extend .icons-font;
                font-size: 24px;
                line-height: 44px;
                text-align: center;
                background-color: $mainBgColor;
                color: $dark50;

                @supports (-ms-ime-align: auto) {
                    /* Edge */
                    line-height: 52px;
                }
            }
        }
    }
}

// блок =================================================================
.form__label {
    margin-bottom: 5px;
    @extend .main-bold-font;
}

.form__input {
    margin-bottom: 20px;
    padding: 0 15px 0 15px;
    height: 44px;
    border: 1px solid $dark25;
    border-radius: 4px;
    @extend .main-font;


    &::placeholder {
        @extend .main-font;

    }

    &:focus {
        @extend .a11y;
    }
}

// блок =================================================================