@import "../../../assets/scss/utils/vars.scss";

.panel_price {

    .panel-heading-room-w {
        margin: 5px 0 12px 0;
    }

    .payment-w {
        margin-top: 12px;
    }


    .panel-heading-room {

        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .room-name {
            @extend .main-page-heading;
            font-size: 14px;
            line-height: 17px;
            text-align: left;

            .room-name__num {
                font-size: 24px;
                margin: 0 2px 0 3px;
            }

            .room-name__luxe {
                @extend .main-bold-font;
                color: $mainColor;
            }
        }

        .room-price {
            @extend .main-font;
            line-height: 17px;
            text-align: right;

            .room-price__value {
                font-weight: bold;
                font-size: 14px;

            }

            .room-price__valuta {
                margin-left: -4px;
                font-weight: bold;
            }

            .room-price__desc {
                font-weight: normal;
                font-size: 12px;
            }
        }
    }

    .payment-w {
        .payment-desc {
            position: relative;

            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            line-height: 18px;

            &.payment-desc_info {
                &::after {
                    content: "i";

                    position: absolute;
                    right: 80;
                    top: -4;

                    display: inline-block;
                    width: 20px;
                    height: 20px;

                    border: 1px solid $dark25;
                    border-radius: 50%;

                    line-height: 20px;
                    text-align: center;
                    color: $dark25;
                }
            }

            .price-item {
                width: 214px;
            }


            &.payment-desc_total {
                margin-top: 25px;

                @extend .main-page-heading;
                font-size: 19px;
            }
        }
    }
}