// пути к шрифтам относительно файла base.scss

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/montserrat-400-normal.eot');
    src: local('Montserrat'), local('Montserrat-Regular'),
        url('../../assets/fonts/montserrat-400-normal.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/montserrat-400-normal.woff2') format('woff2'),
        url('../../assets/fonts/montserrat-400-normal.woff') format('woff'),
        url('../../assets/fonts/montserrat-400-normal.ttf') format('truetype'),
        url('../../assets/fonts/montserrat-400-normal.svg#montserratregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/montserrat-700-normal.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../../assets/fonts/montserrat-700-normal.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/montserrat-700-normal.woff2') format('woff2'),
        url('../../assets/fonts/montserrat-700-normal.woff') format('woff'),
        url('../../assets/fonts/montserrat-700-normal.ttf') format('truetype'),
        url('../../assets/fonts/montserrat-700-normal.svg#montserratbold') format('svg');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/opensans-700-normal.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../../assets/fonts/opensans-700-normal.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/opensans-700-normal.woff2') format('woff2'),
        url('../../assets/fonts/opensans-700-normal.woff') format('woff'),
        url('../../assets/fonts/opensans-700-normal.ttf') format('truetype'),
        url('../../assets/fonts/opensans-700-normal.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    src: local('Material Icons'),
        local('MaterialIcons-Regular');
    font-weight: 400;
    font-style: normal;
}