header.header
    .wrapper.wrapper-header
        div.logotype
            a.logotype-link(href="./index.html")
                img(src="assets/img/logo.svg" alt="Логотип")
            p.visually-hidden TOXIN
        nav.header-navigation
            ul.header-menu
                li.main-menu__item
                    a.main-menu__item-link.__interactive-link(href="#").
                        О нас
                li.main-menu__item
                    a.main-menu__item-link.__interactive-link.main-menu__submenu(href="#" aria-haspopup="true").
                        Услуги
                    ul.header-submenu
                        li.header-submenu__item
                            a.main-menu__item-link(href="#").
                                Услуга 1
                        li.header-submenu__item
                            a.main-menu__item-link(href="#").
                                Услуга 2
                        li.header-submenu__item
                            a.main-menu__item-link(href="#").
                                Услуга 3
                li.main-menu__item
                    a.main-menu__item-link.__interactive-link(href="#").
                        Вакансии
                li.main-menu__item
                    a.main-menu__item-link.__interactive-link(href="#").
                        Новости
                li.main-menu__item
                    a.main-menu__item-link.__interactive-link.main-menu__submenu(href="#" aria-haspopup="true").
                        Соглашения
                    ul.header-submenu
                        li.header-submenu__item
                            a.main-menu__item-link(href="#").
                                Соглашение 1
                        li.header-submenu__item
                            a.main-menu__item-link(href="#").
                                Соглашение 2
                        li.header-submenu__item
                            a.main-menu__item-link(href="#").
                                Соглашение 3
            ul.user-menu
                li.user-menu__input
                    a(href="#signIn").button.button_light.button_light-input Войти
                li.user-menu__registration
                    a(href="#signUp").button.button_dark.button_registration Зарегистрироваться