@import '../../assets/scss/utils/vars.scss';
@import '../../components/__interactive-link/__interactive-link';

.header {
    position: relative;
    padding: 15px 0 0 0;
    min-height: 70px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    background-color: $mainBgColor;


    .wrapper-header,
    .header-navigation,
    .header-menu,
    .user-menu {
        display: flex;
    }

    .wrapper-header {
        justify-content: space-between;

        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            justify-content: flex-end;
        }
    }

    .logotype {

        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            position: absolute;
            left: 0;
        }

        .logotype-link {
            display: block;
            border-radius: 22px;

            &:focus {
                @extend .a11y;
            }

            &:active {
                box-shadow: none;
            }
        }
    }

    .header-navigation {
        align-items: baseline;

        padding: 3px 0 0 0;
        @extend .inter-font;

        .header-menu {
            position: relative;
        }

        .main-menu__item {
            padding-left: 11px;

            .main-menu__item-link {
                padding: 3px 5px;
                border-radius: 22px;
                @extend .inter-font;

                &:hover {
                    color: $mainColor;
                }

                &:focus {
                    @extend .a11y;
                }

                &:active {
                    box-shadow: none;
                }


                &.main-menu__submenu {
                    @supports (-ms-ime-align: auto) {
                        /* Edge fix */
                        padding-right: 30px;
                    }

                    &::after {
                        content: "expand_more";
                        @extend .icons-font;
                        font-size: 24px;

                        @supports (-ms-ime-align: auto) {
                            /* Edge */
                            position: absolute;
                            top: 75%;

                        }
                    }
                }
            }
        }

        .main-menu__item:hover .header-submenu {
            z-index: 0;
        }

        .main-menu__item:focus-within .header-submenu {
            z-index: 0;
        }

        .header-submenu {
            position: absolute;
            z-index: -100;
            border-radius: 4px;
            margin: -5px 0 0 10px;
            padding: 10px 5px;
            border-top: 15px solid $mainBgColor;
            background-color: mix($mainBgColor, $mainColor, 90%);
            box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);


            .header-submenu__item {
                .main-menu__item-link {
                    white-space: nowrap;
                    display: inline-block;
                    padding: 5px 25px;
                }
            }
        }

        .user-menu {
            z-index: 2;


            .user-menu__input {
                padding-left: 15px;
            }

            .user-menu__registration {
                padding-left: 20px;
            }
        }
    }
}